/*
 * Toggle
 */
.p-toggleswitch-slider {
    background: var(--background3) !important;
}

.p-toggleswitch.p-toggleswitch-checked .p-toggleswitch-slider {
    background: var(--primary) !important;
}

/*
 * Popover
 */
.p-popover-content {
    background-color: white !important;

    border-radius: 8px;

    width: 45vh;
}

.p-popover {
    border-color: white !important;
}

.p-popover:before {
    border-bottom-color: white !important;
}

.p-popover::after {
    border-bottom-color: white !important;
}

.popover-li-hover:hover {
    background-color: rgb(228, 228, 228) !important;
}
